body{
    background-color: bisque;
}
header{
    background-color: rgb(74, 6, 143);
    display: flex;
    justify-content: space-between;
}
nav{
    background-color: aqua;
    position: sticky;
    top: 0;
    z-index: 2;
    button {

        /*first lesson*/
        
        background-color: red;
        
        color: white;
        
        /*second-lesson*/
        
        font-size: 20px;
        
        font-weight: bold;
        
        /*third lesson*/
        
        padding: 5px;
        
        border-radius: 5px;
        
        border: none;
        
        /*fourth lesson*/
        
        position: fixed;
        
        right: 50px;
        
        bottom: 40px;
        
        }
}
#intro{
    text-align: center;
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.main-section-content h2 {

    /* first lesson*/
    
    background-color: darkkhaki;
    
    /*second lesson*/
    padding: 5px;
    text-align: center;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
    }
    
    #bestsellers,
    
    footer {
    
    /* first lesson*/
    
    background-color: lightyellow;
    
    }
    
    header,
    
    nav,
    
    #intro,
    
    #main-section,
    
    #bestsellers,
    
    footer {
    
    /* first lesson*/
    
    border: 1px solid black;
    border-radius:50px ;
    
    }
    
    header,
    
    nav,
    
    #main-section {
    
    /* first lesson*/
    
    border-radius: 10px;
    
    }
    
    h1 {
    
    /* first lesson*/
    
    color: white;
    
    /*second lesson*/
    
    font-size: 50px;
    
    font-family: Arial, Helvetica, sans-serif;
    
    }
    
    h2,
    
    p {
    
    /* first lesson*/
    
    color: #333333;
    
    }
    
    table,
    
    th,
    
    td {
    
    /* first lesson*/
    
    border: 1px solid black;
    
    }
    
    tr:last-child {
    
    /* first lesson*/
    
    color: red;
    
    }
    
    span {
    
    /* first lesson*/
    
    color: blue;
    
    }
    
    footer p:first-child span {
    
    /* first lesson*/
    
    color: red;
    
    }
    
    .teacher-info {
    
    /* first lesson*/
    
    border-radius: 5px;
    
    }
    
    button {
    
    /*first lesson*/
    
    background-color: red;
    
    color: white;
    
    /*second-lesson*/
    
    font-size: 20px;
    
    font-weight: bold;
    
    }
    
    /*second lesson*/
    
    ul {
    
    list-style-type: none;
    
    }
    
    li a {
    
    text-decoration: none;
    
    color: #333333;
    
    font-size: 20px;
    
    font-weight: 600;
    
    }
    
    li a:hover {
    
    color: red;
    
    }
    
    p {
    
    font-size: 18px;
    
    }
    
    h3 {
    
    font-size: 20px;
    
    font-family: Arial, Helvetica, sans-serif;
    
    text-decoration: underline;
    
    }

    header{
        grid-area:header;
    }

    nav{
        grid-area:nav;
    }

    #intro{
        grid-area: intro;
    }

    #mainsection{
        grid-area: mainsection;
    }

    #bestsellers{
        grid-area: bestsellers;
    }

    footer{
        grid-area: footer;
    }

    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-areas: "header header header header intro "
        "nav nav nav nav intro"
        "mainsection  mainsection  mainsection  mainsection bestsellers"
        "footer footer footer footer"
        ;
    }